<h1>Angular Architecture Patterns</h1>
<hr/>
<h2>Behavioral Patterns</h2>
<p>Most of these design patterns are specifically concerned with communication between objects.</p>
<h3>Composition · Object</h3>
<p><a routerLink="/chain-of-responsability">Chain of responsability</a></p>
<p><a routerLink="/command">Command</a></p>
<p><a routerLink="/iterator">Iterator</a></p>
<p><a routerLink="/mediator">Mediator</a></p>
<p><a routerLink="/memento">Memento</a></p>
<p><a routerLink="/observer">Observer</a></p>
<p><a routerLink="/state">State</a></p>
<p><a routerLink="/strategy">Strategy</a></p>
<p><a routerLink="/visitor">Visitor</a></p>

<h3>Inheritance · Class</h3>
<p><a routerLink="/interpreter">Interpreter</a></p>
<p><a routerLink="/template-method">Template Method</a></p>

<hr/>

<h2>Structural Patterns</h2>
<p>These concern class and object composition. They use inheritance to compose interfaces and define ways to compose objects to obtain new functionality.</p>
<h3>Composition · Object</h3>
<p><a routerLink="/object/adapter">Adapter</a></p>
<p><a routerLink="/bridge">Bridge</a></p>

<h3>Inheritance · Class</h3>
<p><a routerLink="/class/adapter">Adapter</a></p>

<router-outlet></router-outlet>
